{% extends 'shared/layout.html.twig' %}

{% block title %}Sign in to your account{% endblock %}

{% block body %}

    <section class="container login-box">
        <form method="post" class="text-center m-auto col-md-5 col-sm-8 col-lg-4">
            <h4 class="text-left">
                <i class="fa fa-align-right"></i>
                Sign-in
            </h4>
            <p class="text-left text-{{ notification.messageType }}">
                {{ notification.message }}
            </p>
            <div class="card-text form-group">
                <input name="username" required type="text" class="form-control" placeholder="Username or email">
            </div>
            <div class="card-text form-group">
                <input name="password" required type="password" class="form-control" placeholder="Password">
            </div>

            <div class="card-text form-group">
                <button type="submit" class="btn btn-primary btn-block">
                    Sign in
                </button>
            </div>
            <hr>
            <div class="card-text form-group">
                <small>
                    Use your username to sign-in, if you do not have one then you're not supposed to be logging in
                </small>
            </div>
        </form>
    </section>

{% endblock %}
