{% extends 'shared/layout.html.twig' %}

{% block title %} Contact Us {% endblock %}

{% block body %}
    {# page-banner-section
        ================================================== #}
    <section class="page-banner-section">
        <div class="container-fluid">
            <h1>Get in touch</h1>
            <p>For more information contact us on any of these</p>
        </div>
    </section>
    {# End page-banner section #}

    {# about-section
        ================================================== #}
    <section class="about-section">
        <div class="container-fluid">
            <div class="about-box">
                <div class="image-holder">
                    <img src="/assets/upload/others/ab3.jpg" alt="">
                </div>
                <div class="content-holder">
                    <h2><i class="fa fa-phone"></i> Give us a call</h2>
                    <span><a class="text-muted" href="tel://">+278364376476</a></span>

                    <h2><i class="fa fa-comment"></i> Send an message</h2>
                    <span><a class="text-muted" href="tel://"><i class="fa fa-envelope"></i> mail@mail.com</a></span>
                    <span><a class="text-muted" href="tel://"><i class="fa fa-facebook"></i> Like on facebook</a></span>
                    <span><a class="text-muted" href="tel://"><i class="fa fa-twitter"></i>Follow on twitter</a></span>
                </div>
            </div>
        </div>
    </section>
    {# End about section #}

{% endblock %}
