{% extends 'shared/layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="photo-box">
        <div class="owl-carousel owl-theme">

            <div class="item" data-merge="3">
                <div class="photo-post">
                    <img src="/assets/upload/slides/c1.jpg" alt="">
                    <div class="hover-box">
                        <h2><a href="single-project.html">Cras ornare tristique.</a></h2>
                        <p>Aliquam tincidunt mauris eu risus.</p>
                    </div>
                </div>
            </div>

            <div class="item" data-merge="2">
                <div class="photo-post">
                    <img src="/assets/upload/slides/c2.jpg" alt="">
                    <div class="hover-box">
                        <h2><a href="single-project.html">Praesent placerat.</a></h2>
                        <p>Morbi in sem quis dui placerat ornare.</p>
                    </div>
                </div>
            </div>

            <div class="item" data-merge="3">
                <div class="photo-post">
                    <img src="/assets/upload/slides/c3.jpg" alt="">
                    <div class="hover-box">
                        <h2><a href="single-project.html">Cras ornare tristique.</a></h2>
                        <p>Aliquam tincidunt mauris eu risus.</p>
                    </div>
                </div>
            </div>

            <div class="item" data-merge="3">
                <div class="photo-post">
                    <img src="/assets/upload/slides/c4.jpg" alt="">
                    <div class="hover-box">
                        <h2><a href="single-project.html">Praesent placerat.</a></h2>
                        <p>Morbi in sem quis dui placerat ornare.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
